.block {
    position: fixed;
    top: 0px;
    right: 25px;
    z-index: 100;
    height: 115px;
    width: 250px;
    border-radius: 10px;
    background: rgb(81, 81, 245);
    border: 1px solid #0f0688;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;

    font-size: 18px;
}

.button {
    padding: 5px 10px;
    background: #1a0faf;
    color: #ffffff;
    transition: all 0.4s;
    border-radius: 5px;
    border: 1px solid #040123;
    cursor: pointer;
}

.button:hover {
    background: #0a0360;
}

.ref {
    padding: 5px 10px;
    background: #2ea9b4;
    color: #ffffff;
    transition: all 0.4s;
    border-radius: 5px;
    border: 1px solid #5151f5;
    text-decoration: none;
}

.ref:hover {
    background: #115467;
}
